body {
    background-color: #E03616; 
}
hr {
    /*background-color: #ad2d14;*/
    border-style: dotted none none;
    border-color: #681c0c;
    border-width: 5px;
    width: 5%; /* we can see that we can use px as a unit and % of the screen*/
}

h1 {
    color: #471309;
}

h3 {
    color: #471309;
}